{% set creator = 'False' %}

{% if performance.title %}
    {% set perfTitle = performance.title  %}
{% else %}
    {% set perfTitle = performance.script.title %}
{% endif %}
        
        <a href="{{ path('performance', {id: performance.id}) }}">
        <i>{{ perfTitle }}</i>


            {% if creator == 'True' %}
                {% if performance.script.creators is not empty %}
                    ({% for creator in performance.script.creators %}     
                        {% if creator.person.pseudonym %}
                            {{creator.person.pseudonym}}
                        {% else %}    
                            {{creator.person.lastname}}
                        {% endif %}
                            {{ not loop.last ? ', ' }}
                    {% endfor %})
                {% endif %}
            {% endif %}
            
            {% if date == 'True' %}
            ({{ interval( performance.start, performance.end) }})
            {% endif %}

        </a>