{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Représentations{% endblock %}

{% block body %}

<h1 class="mb-4 display-1">Représentations</h1>

{% if from is defined %}
<h1 class="display-5 mb-4">
  {{ interval( from, to) }}
</h1>
{% endif %}

<table id="datatable" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Date</th>
      <th scope="col">Lieu</th>
    </tr>
  </thead>
  <tbody>
    {% for performance in performances %}
      <tr>
        <td scope="col">

        {% include 'performance/externalRef.html.twig'  with {'date': 'True'} %}

        </td>      
        <td scope="col">
          {% if performance.start %}
              {{ interval( performance.start, performance.end) }}
          {% endif %}
        </td>
        <td scope="col">
          {% if performance.location %}
            <a href="{{path('location', {id: performance.location.id})}}">
              {{performance.location.name}}
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
