{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Accueil
{% endblock %}

{% block body %}
	<h1 class="display-1">Base CESAR</h1>
	<h1 class="display-5 mb-4">
		Calendrier électronique des spectacles sous l’Ancien Régime et la Révolution
	</h1>

	<div class="justify">
		<p>CESAR a été fondé en 2001 par
			<a>Barry Russell (1943-2003)</a>
			à Oxford Brookes University avec le soutien du British Arts and Humanities Research Council (AHRC). La base de données formant le cœur de CESAR avait été construite en collaboration avec
			<a>David Trott (1940-2005)</a>, alors professeur à l’Université de Toronto, et Jeffrey Ravel, professeur au Massachusetts Institute of Technology, qui avaient apporté leur propre documentation. En 2004, Oxford Brookes University a obtenu une nouvelle subvention de l’AHRC pour créer une banque d’images. Le site a été alors dirigé par Mark Bannister, puis par Sabine Chaouche. Le site qui est un outil collaboratif ouvert à tous les spécialistes et amateurs de théâtre, a été régulièrement alimenté par des chercheurs français et internationaux, notamment Georges Forestier et Anastasia Sakhnovskaia Pankeeva.</p>

		<p>
			<strong>Grâce à un accord entre Oxford Brookes University et l’Université Grenoble Alpes, CESAR est accueilli depuis 2016 par le <a target="_blank" href="https://litt-arts.univ-grenoble-alpes.fr/">laboratoire Litt&amp;Arts (UMR CNRS 5316)</a>. Sa rénovation technique, soutenue par le CNRS, par l’Institut universitaire de France et par l'IDEX Université Grenoble Alpes, est en cours. Le site et les données sont hébergés par la TGIR Huma-Num.</strong>
			Nous travaillons actuellement à une nouvelle version du site, plusieurs fonctionnalités sont donc indisponibles. L'accès aux comptes personnels et à l'espace collaboratif est également temporairement désactivé, mais sera rétabli dans la nouvelle version. Nous vous remercions de votre patience et de votre compréhension.
		</p>

		<p>Tous les contributeurs, anciens, présents et à venir, sont invités à participer aux chantiers de réflexion prochainement ouverts autour de la mise à jour bibliographique, de l’élargissement chronologique de la documentation (XVe-XVIIIe siècle) et d’appels à projets visant au développement thématique et documentaire du site.
		</p>

		<p>Votre soutien dans cette phase décisive permettra à CESAR de rester un outil de référence internationalement reconnu pour l’histoire des arts du spectacle.</p>
	</div>


{% endblock %}
