{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Connexion{% endblock %}

{% block body %}
    <h1>Login</h1>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <label for="username">Email:</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input class="form-control" type="password" id="password" name="_password">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-primary" type="submit">Login</button>
    </form>
{% endblock %}
