{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Anthologies{% endblock %}

{% block body %}

<h1 class="mb-4 display-1">Anthologies</h1>

{% if from is defined %}
<h1 class="display-5 mb-4">
  {{ interval( from, to) }}
</h1>
{% endif %}

<table id="datatable" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Titre</th>
    </tr>
  </thead>
  <tbody>
  {% for anthology in anthologies %}
    <tr>
      <td scope="col">
        <a href="{{ path('anthology', {id: anthology.id}) }}">
           {{anthology.title}}
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
