
<div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#collapse-publications" aria-controls="collapse-publications">
            Exemplaires ({{copies|length}})
          </button>
        </h2>
        <div id="collapse-publications" class="accordion-collapse collapse show" >
          <div class="accordion-body">
            <ul class="list-group list-group-flush">


              {% for copy in copies %}
                <li class="list-group-item">

                  <div class="container" style="margin: 10px 0px 20px 30px;">

                
                    {% if copy.callNumber %}
                    <div class="row">
                          <div class="col-2">
                              <span class="metadata-name">Cote</span>  
                          </div>
                          <div class="col-9">
                              <b>{{copy.callNumber}}</b>
                          </div>
                    </div>
                    {% endif %}

                    {% if copy.library %}
                    <div class="row">
                          <div class="col-2">
                              <span class="metadata-name">Bibliothèque</span>  
                          </div>
                          <div class="col-9">
                              {{copy.library.name}}
                          </div>
                    </div>
                    {% endif %}

                    {% if copy.description %}
                    <div class="row">
                          <div class="col-2">
                            <span class="metadata-name">Description</span>  
                          </div>
                          <div class="col-9">
                            {{copy.description}}
                          </div>
                    </div>
                    {% endif %}

                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
      </div>