{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Édition{% endblock %}

{% block body %}
<div class="row">

  {% if publication.title %}
     {% set pubTitle = publication.title ~ ' ' ~ publication.subtitle  %}
  {% else %}
     {% set pubTitle = publication.script.title ~ ' ' ~ publication.script.subtitle  %}
  {% endif %} 

  {% set manifest_uri = [] %}


  <h1 class="mb-4 display-1">
    <span class="text-muted">Édition :</span> {{pubTitle}}
  </h1>
  {% include 'entity-origin.html.twig' with {'entity': publication } %}

  <div class="accordion mb-4">

    <div class="accordion-item">

      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#collapse-infos" aria-controls="collapse-infos">
          Informations
        </button>
      </h2>

      <div id="collapse-infos" class="accordion-collapse collapse show" >
        <div class="accordion-body">
            <ul class="list-group list-group-flush">

              {% if publication.alternativeTitle %}
                <li class="list-group-item">                    
                  <span class="metadata-name">Titre alternatif</span> 
                  {{publication.alternativeTitle}}
                </li>
              {% endif %}

              {% if publication.alternativeSubtitle %}
                <li class="list-group-item">                    
                <span class="metadata-name">Sous-titre alternatif</span> 
                      {{publication.alternativeSubtitle}}
                </li>
            {% endif %}

              <li class="list-group-item">                    
                <span class="metadata-name">Pièce</span> 
                <a href="{{path('script', {id: publication.script.id})}}"> 
                <i>{{publication.script.title}}</i>
                {% if publication.script.creators is not empty %}
                  (
                    {% for creator in publication.script.creators %}
                        {% if creator.person.pseudonym %}
                            {{creator.person.pseudonym}}
                        {% else %}
                            {{creator.person.firstname}} {{creator.person.lastname}}
                        {% endif %}
                            {{ not loop.last ? ',' }}
                    {% endfor %}
                  )
                {% endif %}
                </a>
              </li>

                {% if publication.publisher %}
                    <li class="list-group-item">
                      <span class="metadata-name">Éditeur</span>
                      <a href="{{ path('publisher', {id: publication.publisher.id}) }}">
                        <i>{{publication.publisher.name}}</i>
                      </a>
                    </li>
                {% endif %}

                <li class="list-group-item">
                  <span class="metadata-name">Date de publication</span>
                  <a href="{{ path('dateaccess', {'from': publication.start|date("Y-m-d", false), 'to': publication.end|date("Y-m-d", false)}) }}">
                    {{ interval( publication.start, publication.end) }}
                  </a>
                </li>

                {% if publication.anthology %}
                  <li class="list-group-item">
                    <span class="metadata-name">Anthologie</span>
                    <a href="{{path('anthology', {id: publication.anthology.id})}}"> 
                        {{publication.anthology.title}},&nbsp;
                        {{ interval( publication.anthology.start, publication.anthology.end) }}  
                    </a>
                  </li>
                {% endif %}

                {% if publication.dateComment %}
                    <li class="list-group-item">
                      <span class="metadata-name">Commentaire</span>
                          {{ publication.dateComment }}
                    </li>
                {% endif %}

                {% if publication.location is not empty %}
                  <li class="list-group-item">
                    <span class="metadata-name">Lieu de publication</span>
                        {% for location in publication.location %}
                            {% if location.name %}
                                {{ location.name }} 
                            {% endif %}
                            {{ not loop.last ? ',' }}
                        {% endfor %}
                  </li>
                {% endif %}
              </ul>

          {% if publication.authorities is not empty %}
              {% set manifest_uri = [] %}
                  <div style="margin-top:30px;"></div>
              {% if publication.authorities.iiif is defined %}
                  {% for key, value in publication.authorities.iiif  %}

                            {% if value is iterable %}
                                {% for item in value %}
                                    {% set manifest_uri = manifest_uri|merge([item]) %}
                                {% endfor %}
                            {% else %}
                                    {% set manifest_uri = manifest_uri|merge([value]) %}
                            {% endif %}
                  {% endfor %}
              {% endif %}
                  
              {% if publication.authorities.digitised is defined %}
                     {% set digitised = publication.authorities.digitised %}
              {% endif %}

               <div class="row" style="margin-left:4px;">
                  <div class="col-2">
                      <span class="metadata-name">Edition cataloguée dans</span> 
                  </div>
                  <div class="col-9">               
                    <ul class="list-group list-group-flush">
                    {% for key, value in publication.authorities|filter((key, value) => value != 'digitised') -%}
                                {% if value is iterable %}
                                  {% for item in value %}
                                      <li class="list-group-item">
                                        <a href="{{item}}">{{item}}</a>
                                      </li>
                                  {% endfor %}
                                {% else %}
                                      <li class="list-group-item">
                                        <a href="{{value}}">{{value}}</a>
                                      </li>
                                {% endif %}
                    {% endfor %}  
                    </ul>
                  </div>
                </div>

              {% if digitised is defined %}
                <div class="row" style="margin-left:4px;" style="margin-top:30px;">
                  <div class="col-2">
                      <span class="metadata-name">Numérisation(s)</span> 
                  </div>
                  <div class="col-9">
                    <ul class="list-group list-group-flush">
                      {% for key, value in digitised %}
                                  {% if value is iterable %}
                                    {% for item in value %}
                                        <li class="list-group-item">
                                          <a href="{{item}}">{{item}}</a><br/>
                                        </li>                                
                                    {% endfor %}
                                  {% else %}
                                          <li class="list-group-item">
                                            <a href="{{value}}">{{value}}</a>
                                          </li>
                                  {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}

          {% endif %}
            </li>
          </ul>
        </div>
      </div>


    {% if publication.copies is not empty %}
      {% include 'publication/copies-template.html.twig' with {'copies': publication.copies } %}
    {% endif %}


    {% if manifest_uri is not empty %}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#collapse-numerisations" aria-controls="collapse-numerisations">
          Numérisation(s) IIIF
          </button>
        </h2>
        <div id="collapse-numerisations" class="accordion-collapse collapse show" >
          <div class="accordion-body">
              <ul class="list-group list-group-flush">
                {% set unique = manifest_uri|reduce( (unique, item) => item in unique ? unique : unique|merge([item]), [] ) %}
                {% set counter = 0 %}   {# counter to individuate several mirador calls #}
                {% for value in unique %}
                  <li class="list-group-item">
                    {% set counter = counter + 1 %}

                    {% include 'publication/mirador-viewer.html.twig' with {'counter': counter } %}

                    <div style="text-align:center;">
                      <span class="metadata-name">Manifest IIIF</span>
                      <a class="manifest-uri" href="{{value}}" data-uri="{{value}}" target="call-mirador-{{counter}}">{{value}}</a>
                    </div>

                  </li>
                {% endfor %}
              </ul>
          </div>
        </div>
      </div>
      {% endif %}

  </div>
</div>
{% endblock %}
