<div style="text-align: center; margin-top:30px;" >
<div id="call-mirador-{{counter}}" style="
        height: 900px;
        position: relative;
        /* min-width: 324px; */
        width:1050px;
        display:inline-block;
        " >
</div> 
</div>


{% block javascripts %}
    {{ encore_entry_script_tags('mirador-call') }}
{% endblock %}