@import "~bootstrap/dist/css/bootstrap.min.css";

/* GLOBAL */
:root {
  --main-color: #faf0e6;
  --secondary-color: #e4e4e4;
  --third-color: maroon;
}

body {
  background-color: var(--secondary-color);
}

h1 {
	color:  var(--third-color);
}

#main-nav {
  background-color: var(--main-color) !important;
}

/* ACCORDEONS */
.accordion-button {
  background-color: var(--main-color) !important;
  color: var(--third-color) !important;
  font-weight: 300;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button {
  font-size: 2rem !important;
}

/* DETAILS */
.metadata-name {
  display: inline-block;
  min-width: 150px;
  color: grey;
}

.linked-resources {
	display: inline-block;
	min-width: 150px;
	margin:12px 0px 5px 13px;
	font-weight: bold;
  }

/* DATATABLE */
.dataTables_filter {
  text-align: right;
}

.pagination {
	--bs-pagination-padding-x: 0.75rem;
	--bs-pagination-padding-y: 0.375rem;
	--bs-pagination-font-size: 1rem;
	--bs-pagination-color: grey;
	--bs-pagination-bg: #fff;
	--bs-pagination-border-width: 1px;
	--bs-pagination-border-color: #dee2e6;
	--bs-pagination-border-radius: 0.375rem;
	--bs-pagination-hover-color: var(--bs-link-hover-color);
	--bs-pagination-hover-bg: #e9ecef;
	--bs-pagination-hover-border-color: #dee2e6;
	--bs-pagination-focus-color: var(--bs-link-hover-color);
	--bs-pagination-focus-bg: #e9ecef;
	--bs-pagination-focus-box-shadow: 0 0 0 0.25rem grey;
	--bs-pagination-active-color: black;
	--bs-pagination-active-bg: #e9ecef;
	--bs-pagination-active-border-color: #e9ecef;
	--bs-pagination-disabled-color: #6c757d;
	--bs-pagination-disabled-bg: #fff;
	--bs-pagination-disabled-border-color: #dee2e6;
	list-style: none;
}

.justify {
	text-align: justify;
}